* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 500px;
    background: none;
    border-radius: 30px 0;
    border: 7px solid #333;
    transition: .5s;
}

.wrapper:hover{
    border: 7px solid #cd00ff;
    box-shadow:0 0 20px #cd00ff, inset 0 0 20px #cd00ff;
}

h2 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    transition: .5s;
}

.wrapper:hover h2{
    color: #cd00ff;
}

.input-box {
    position: relative;
    width: 320px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: 3px solid #333;
    outline: none;
    border-radius: 10px;
    font-size: 1em;
    color: #fff;
    padding: 0 10px 0 35px;
    transition: .5s;
}

.wrapper:hover input{
    border: 3px solid #cd00ff;
    box-shadow:0 0 10px #cd00ff, inset 0 0 10px #cd00ff ;
}

.input-box input::placeholder {
    color: rgba(255, 255, 255, .3);
}

.input-box .icon {
    position: absolute;
    left: 10px;
    color: #fff;
    font-size: 1.2em;
    line-height: 60px;
    transition: .5s;
}

.wrapper:hover .icon{
    color: #cd00ff;
}

.forgot-pass {
    margin: -15px 0 15px;
}

.forgot-pass a {
    color: #fff;
    font-size: .9em;
    text-decoration: none;
}

.forgot-pass a:hover {
    text-decoration: underline;
}

button {
    position: relative;
    width: 100%;
    height: 60px;
    background: #333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

.wrapper:hover button{
    background: #cd00ff;
    box-shadow: 0 0 20px #cd00ff;
}

.register-link {
    font-size: .9em;
    text-align: center;
    margin: 25px 0;
}

.register-link p {
    color: #fff;
}



.register-link p a {
    color: #333;
    text-decoration:none ;
    font-weight: 600;
    transition: .5s;
}

.wrapper:hover p a{
    color: #cd00ff;
}

.register-link p a:hover{
    text-decoration: underline;
}



.input-box {
    position: relative;
}

#show {
    position: absolute;
    right: 5%;
    top: 39%;
    cursor: pointer;
    color: #fff;
}


#hide {
    position: absolute;
    right: 5%;
    top: 39%;
    display: none;
    color: #fff;
}

form:hover #show{
    color: #cd00ff;
}

form:hover #hide{
    color: #cd00ff;
}